//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Update Custom Object Form | Integrating With HubSpot I Practicum
        form(method="POST", action="/update-cobj")
      label(for="pet_name") Name:
      input(type="text", name="pet_name", required)
      br

      label(for="pet_dimension") Dimension:
      input(type="text", name="pet_dimensions", required)
      br

      label(for="pet_color") Color:
      input(type="text", name="pet_color", required)
      br

      button(type="submit") Crea
    br
    a(href="/") ← Return to the homepage